.bargain-container {
    margin: 0 5px;
    border-radius: 10px;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    min-height: calc(100vh - 70px);
}

.bargain-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: var(--primary-color);
}

.bargain-container th, td {
    color: var(--black-txt-color);
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.bargain-container th {
    padding: 20px;
    background-color: var(--tertiary-color);
}

.bargain_edit, .bargain_accept, .bargain_cancel {
    padding: 5px 10px;
    margin: 2px;
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.bargain_edit{
    background-color: var(--primary-button-color);
}
.bargain_accept{
    background-color: var(--green-button-color);
}
.bargain_cancel{
    background-color: var(--secondary-button-color);
}

.bargain-container .bargain_edit:hover {
    background-color: var(--primary-button-hover);
}
.bargain-container .bargain_accept:hover {
    background-color: var(--green-button-hover);
}
.bargain-container .bargain_cancel:hover {
    background-color: var(--secondary-button-hover);
}

.bargain-container input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
}
