*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  :root {
    --white: rgb(255, 255, 255);
    --body-bg-color: rgb(216, 216, 216);
    --primary-color: white;
    --secondary-color: rgb(0, 0, 0);
    --tertiary-color: rgb(201, 201, 201);

    --black-txt-color: black;
    --grey-txt-color: grey;
    --white-txt-color: rgb(255, 255, 255);

    --primary-button-color: #007bff;
    --secondary-button-color: #ff0000;
    --green-button-color: #32b82e;

    --primary-button-hover: #0056b3;
    --secondary-button-hover: #c40000;
    --green-button-hover: #1f7a1f;
    
    --nav-txt-hover: #007bff;
    --login-bg: rgb(77, 206, 77);
    --filter-bg: rgb(228, 228, 228);
  }

  .dark_mode{
    --white: rgb(226, 226, 226);
    --body-bg-color: rgb(78, 78, 78);
    --primary-color: rgb(41, 41, 41);
    --secondary-color: white;
    --tertiary-color: rgb(97, 97, 97);

    --black-txt-color: rgb(255, 255, 255);
    --grey-txt-color: grey;
    --white-txt-color: rgb(0, 0, 0);

    --primary-button-color: #007bff;
    --secondary-button-color: #ff0000;

    --nav-txt-hover: #007bff;
    --login-bg: rgb(77, 206, 77);
    --filter-bg: rgb(31, 31, 31);
  }