body {
    font-family: sans-serif;
    background-color: var(--body-bg-color);
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 10px;
    height:70px;
    margin:0 5px;
    padding: 10px 20px;
    position: relative;
    box-shadow: 0px 1px 10px var(--secondary-color);
    transition: all 0.3s ease-in-out;
    z-index: 100;
}

.brand {
    height: 40px;
    width: auto;
}

.in_navbar {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-right: 25px;
}

.link {
    text-decoration: none;
    color: var(--black-txt-color);
    font-size: 16px;
    transition: color 0.3s;
}
.link.product{
    margin-right: 30px;
}

.link:hover {
    color: var(--nav-txt-hover);
}

.login_link {
    background-color: var(--login-bg);
    padding: 0.5rem 1rem;
    color: var(--white-txt-color);
    border-radius: 17px;
}

.profile-section {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 4px 10px #8a8383;
}

.navbar .profile-pic{
    height: 55px;
    width: 55px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}
.navbar .profile-pic:hover{
   transform: scale(1.2);
}

.user-info {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #e4e4e4;
    border: 1px solid #8a8383;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    padding: 10px 30px 10px 10px;
    width: auto;
    z-index: 1000;
}

.user-info.active {
    display: flex;
    flex-direction: column;
}

.your-name {
    margin: 0;
    margin: 7px 0px 10px 0;
    font-size: 16px;
    color: black;
    text-align: center;
}

.logout-link {
    display: block;
    background-color: var(--secondary-button-color);
    margin: 10px 0px;
    padding: 7px 10px;
    margin: 2px;
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.for-cart {
    position: relative;
    margin: 0 25px;
}

.nav-cart {
    font-size: 25px;
    color: var(--black-txt-color);
}

.cart-num {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--secondary-button-color);
    color: white;
    border-radius: 40%;
    padding: 5px;
    font-size: 10px;
}

.cart-num-none {
    display: none;
}
.dark-mode-btn {
    cursor: pointer;
    font-size: 16px;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    color: var(--white);
    border: none;
    background-color: var(--primary-button-color);
    transition: color 0.3s ease-in-out;
}
